body {
    background-color: black;
    color: white;
}
* {
    box-sizing: border-box;
}
.workspace {
    /*border-style: solid;*/
    border-width: 1px;
    border-color: rgba(0,128,0,0.9);
    margin-left: 15vw;
    margin-right: 15vw;
    height: 100vh;
}
header{
    overflow: visible;
    margin-right: 0vw;
    margin-left: 0vw;
    height: 13vh;
}
header a {
    float: left;
    text-align: center;
    color: rgb(4, 197, 91);
    text-decoration: none;
    font-style: italic;
}
header a.name {
    font-size: 10vh; 
}
nav {
    overflow: auto;
    height: auto;
    float: right;
    clear: left;
}
.nav {
    display: inline-block;
    /*border-radius: 4px;*/
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    padding: 5px;
    width: 10vw;
    transition:all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.nav:hover {
    /*background-color: rgb(2, 187, 85);*/
    color: rgb(2, 187, 85);
    border-bottom: solid;
    border-color: rgb(2, 187, 85) ;
}
.nav span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
.nav span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
.nav:hover span {
    padding-right: 25px;
    color: rgb(2, 187, 85);
  }
  
.nav:hover span:after {
    opacity: 1;
    right: 0;
  }
  
img {
    position: relative;
    float: left;
    margin-top: 6vh;
    width: 18vw;
    max-width: 100%;
    height: 80vh;
}
#main{
    width: 47vw;
    height: 75.5vh;
    position: relative;
    top: 10vh;
    left: 21vw;
    border-style: solid;
    border-color: blanchedalmonds;
}
.homebutton{
    position: absolute;
    display: block;
    width: 46.5vw;
    height: 75vh;
}
.aboutbutton{
    position: absolute;
    display: none;
    width: 46.5vw;
    height: 75vh;
}
.contactbutton{
    position: absolute;
    display: none;
    width: 46.5vw;
    height: 75vh;
}